<h1>Activation de votre compte</h1>
<p>Vous avez créé un compte sur notre site, veuillez cliquer sur le lien pour activer votre compte</p>
<p><a href="{{ absolute_url(path('activation',{'token':token})) }}">Actver mon compte</a></p>